
# Ignore __history and __recovery directories from Delphi RAD
**/__history/
**/__recovery/

# Ignore build artifacts
bin/
**/Win32/
**/Win64/

# Ignore temporary files
*.tmp
*.log

# Ignore IDE local or config files
*.dproj.local
*.identcache

# Ignore the database files
database/

# Other
**/.DS_Store