
# Ignore __history and __recovery directories
**/__history/
**/__recovery/

# Ignore build artifacts
bin/

# Ignore temporary files
*.tmp
*.log

# Ignore IDE local or config files
*.dproj.local

# Other
**/.DS_Store