
# Ignore __history and __recovery directories from Delphi RAD
**/__history/
**/__recovery/

# Ignore build artifacts
bin/
**/Win32/
**/Win64/

# Ignore temporary files
*.tmp
*.log

# Ignore IDE local or config files
*.dproj.local
*.res
*.identcache
settings.json

# Ignore everything in database/
database/*

# But keep the mock "autofill" files
!database/custom_database_keep_*.csv
!database/**.sql

# Other
**/.DS_Store
cimnet.ini
**/WMSimulator.delphilsp.json